{ 
  "arrowParens": "avoid",
  "endOfLine":"auto", 
  "printWidth": 80, 
  "trailingComma": "es5", 
  "semi": false, 
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 2,
  "vue-indent-script-and-style": true
}